.banner {
    background-color: #E6EBEB;
    text-align: center;
    box-shadow: 0 1px 0 0 rgba(0, 0, 0, 0.05), 0 1px 1px 0 rgba(0, 0, 0, 0.025);

    h1 {
        padding: 42px 0 51px 0;
    }

    p {
        padding: 37px 0 93px 0;
    }
}