@media screen and (max-width: $sm-width) {
    .main {

        .header {
            padding: 85px 42px 103px 42px;

            br {
                display: none;
            }
    
            p {
                padding: 21px 0 59px 0;
            }
        }
    }
}