@media screen and (max-width: $sm-width) {
    .header {
    
        h2 {
            padding-top: 103px;
            font-size: 21px;
            letter-spacing: 4.2px;
        }
    }
    
    .slogan {
        font-size: 12.6px;
        letter-spacing: 2.52px;
        padding: 9px 8px 115px 8px;
        line-height: 21px;
    }
}