@media screen and (max-width: $lg-width) {
    .contact {

        .container {
            padding: 50px 0 86px 0;
        }

        h1 {
            padding: 17px 0;
        }

        p {
            padding: 27px 0 45px 0;
        }

        .form-group, textarea {
            padding-bottom: 39px;
        }

        .form-group {

            input, textarea {
                font-size: 23px;
                padding: 16px 22px;
            }

            input {
                width: 48%;
            }

            textarea {
                height: 319px;
                padding: 20px 22px;
                margin-bottom: 16px;
            }
        }
    }
}