@media screen and (max-width: $xl-width) {
    .gallery {

        h1 {
            color: #666;
            padding: 41px 0;
        }

        p {
            color: #888;
            padding: 10px 0px 6px 0px;
        }

        .transitions {
            padding: 20px 0;
        }
    }
}