@media screen and (max-width: $xl-width) {
    .header {
    
        h2 {
            letter-spacing: 8px;
        }
    }
    
    .menu {
        padding: 40px 0 169px 0;
    
        ul {
            width: 63.2%;
    
            li {
                font-size: 10px;
                letter-spacing: 3.26667px;
                padding: 12px 5px 10px 5px;
            }
        }
    }
    
    .slogan {
        font-size: 14.4px;
        letter-spacing: 2.88px;
        padding: 14px 0 217px 0;
    }
}